#wrap
  .container-fluid
    .row-fluid
      .span12
        %h1
          DJ APOLLO
  .container
    .row-fluid
      .span12
        "Library has #{@size} tracks." 

    .row-fluid
      .span7
        = File.read(File.join('views', 'coolaudio.haml'))
     
        %blockquote
          %p{:lang => "en", "xml:lang" => "en"}
            = @tweet.text
            %a{:href => "https://twitter.com/Interior/status/#{@tweet.id}"}

        %textarea{:class => "audio_list", :style => "display:none"} 
          = "#{@datafile.url}##<strong>#{@datafile.file_name}</strong>"
 
      .span2
      .span3
        = File.read(File.join('views', 'twitter.haml'))

#footer
  <a href="https://github.com/terryg/apollo">github.com/terryg/apollo</a>

%script{:id => "audio_script", :type => "text/javascript", :src => "js/coolaudio.js"}

%script{:type => "text/javascript"}
  window.onload = play_pause(0);
}

= File.read(File.join('views', 'google_analytics.haml'))

